/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.container {
    background-image: url(../img/banner\ esercizio.png);
    height: 100px;
    position: relative;
}

.header-text {
    color: aliceblue;
    position: absolute;
    bottom: 8px;
}

h1 {
    text-shadow: 2px 2px 5px black;
}

.the {
    font-size: small;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* MAIN */

/* TITLE, AUTHOR, DATE */
h2 {
    font-size: 2.3em;
}

.section-author {
    color: gray;
}

.booleaner {
    color: deepskyblue;
}

.section-date {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

/* PHOTO SECTION */
.section-photo-author {
    font-size: x-small;
    margin-bottom: 20px;
}

/* PARAGRAPH */
.highlights {
    background-color: yellow;
}

.paragraph {
    text-align: justify;
    margin-bottom: 20px;
}

/* LIST */
ul {
    margin-left: 1.2rem;
    margin-bottom: 20px;
}

/* TABLE */

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
}

td {
    height: 70px;
}

tr:nth-child(even) {
    background-color: deepskyblue;
}

.table-head {
    background-color: dodgerblue;
    color: aliceblue;
}

/* FOOTER */
h3 {
    color: gray;
}